.modal-footer,
.modal-content {
    justify-content: center !important;
}

.jodit-ui-group {
    background-color: lightgray !important;
}

.jodit-wysiwyg p {
    color: black !important;
    text-align: left;
}

.jodit-tooltip {
    display: none;
}

.text-story {
    color: black !important
}

.story-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-details-container h3 {
    align-self: flex-end;
}

.story-details-container p {
    align-self: flex-start;
}

.follower-image {
    border-radius: 50%;
    width: 50px;
    margin: 20px;
}

.modal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

}

.modal-flex h3 {
    margin: 0;
}