.modal-footer,
.modal-content {
    justify-content: center !important;
}

.jodit-ui-group {
    background-color: lightgray !important;
}

.jodit-wysiwyg p {
    color: black !important;
    text-align: left;
}

.jodit-tooltip {
    display: none;
}

.text-story {
    color: black !important
}

.css-1d9ls5a {
    margin: auto;
}

.card-component{
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}

.card-blog {
    min-width: 315px !important;
}

.story-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-details-container h3 {
    align-self: flex-end;
}

.story-details-container p {
    align-self: flex-start;
}

.follower-image {
    border-radius: 50%;
    width: 50px;
    margin: 20px;
}

.modal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

}

.modal-flex h3 {
    margin: 0;
}

#bg-story {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-story-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.flex-data-story-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.flex-icon-story-modal {


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card-blog {
    min-width: 315px !important;
}